@import '@/styles/responsive.scss';

.faqSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 120px;
    padding-bottom: 100px;
    position: relative;

    h2 {
        font: var(--text-h2);
        font-weight: 700;
        color: var(--main);
        text-align: center;
    }

}

.decoSpot {
    position: absolute;
    top: -40%;
    right: -20%;
    pointer-events: none;
    z-index: -1;
}

.faqContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 110px;

    @include xxl() {
        width: 100%;
        padding: 0 100px;
        margin: 0 auto;
        gap: 80px;
    }

    @include lg() {
        padding: 0 60px;
        gap: 40px;
    }

    @include md() {
        padding: 0 20px;
    }

}

.faqCategories {
    display: flex;
    flex-direction: column;
    // width: 414px;
    width: auto;
    gap: 10px;
    border-radius: 30px;
    background: var(--main-green, #29A86F);
    padding: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    height: fit-content;

    @include md() {
        width: 300px;
        padding: 20px;
        
    }

}

.faqCategoryButton {
    all: unset;
    font: var(--text-h3);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 100px;
    color: white;

    &:hover {
        cursor: pointer;
        background: white;
        color: var(--main);
        box-shadow: 0 4px 10px 0 rgba(2, 131, 61, 0.50);
    }

    @include md() {
        padding: 10px 20px;
        font-size: 18px;
    }
}

.activeCategory {
    background: white;
    color: var(--main);
    box-shadow: 0 4px 10px 0 rgba(2, 131, 61, 0.50);
}

.faqItems {
    width: 920px;

    @include xxl() {
        width: 100%;
        flex-grow: 2;
    }
}