@import '@/styles/responsive.scss';

.eventSection {
    position: relative;
    isolation: isolate;
    padding-top: 120px;

    h2 {
        font: var(--text-h2);
        font-weight: 700;
        color: var(--main);
        text-align: center;
        margin-bottom: 50px;
    }


    @include md() {
        padding-top: 0;
        margin-top: 100px;
        padding-left: 60px;
        padding-right: 60px;
        padding-left: 20px;
        padding-right: 20px;
        

        h2 {
            margin-bottom: 15px;
        }
    }

    @include sm() {
        h2 {
            font-size: 28px;
        }
    }

}

.decoSpot {
    position: absolute;
    top: -20%;
    left: -10%;
    pointer-events: none;

}

.eventSlider {
    max-width: 1440px;
    margin: 0 auto;

    @include xxl() {
        max-width: calc(100vw - 200px);
    }

    @include md() {
        width: 100%;
        max-width: 100%;
    }

    :global {
        .slick-track {
            display: flex !important;
        }
        .slick-slide {
            width: 1440px !important;
        }
    }
}

.eventSlideItem {
    display: flex !important;
    padding: 50px;
    gap: 50px;
    border-radius: 50px;
    background: #FAFAFA;
    align-items: center;

    @include lg() {
        gap: 30px;
        padding: 30px 20px;
    }

    @include md() {
        // flex-direction: column;
        padding: 30px 20px;
        border-radius: 30px;
        gap: 30px;
        
    }

    @include xxs() {
        flex-direction: column !important;
    }
}


.eventContentWrapper {
    display: flex;
    align-items: start;
    gap: 20px;

}

.commaMark {
    width: 47px;

    @include xxl() {
        width: 32px;
    }

    @include md() {
        display: none !important;
    }
}

.eventImageWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 570px;
    flex-shrink: 0;
    position: relative;

    a {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: fit-content;
        padding: 5px 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1px;
        font-weight: 700;
        color: white;
        border-radius: 100px;
        background: var(--main-green, #29A86F);
        margin-bottom: 5px;
        text-decoration: none;
    }

    @include xl() {
        width: 45%;
    }

    @include xxs() {
       width: 100%;
    }

}

.eventImage {
    aspect-ratio: 570/350;
    width: 100%;
    border-radius: 30px 30px 80px 30px;

    /* 陰影一 */
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.10);
    overflow: hidden;
    position: relative;


    @include md() {
        border-radius: 20px 20px 60px 20px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.eventContent {
    h3 {
        font: var(--text-h3);
        font-size: 24px;
        font-weight: 700;
        color: var(--main);
        margin-bottom: 20px;


        @include md() {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 16px;
        }
    }
}

.infoItems {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 18px;
    font-weight: 700;
    line-height: 27px; /* 150% */
    letter-spacing: 1px;
    color: var(--main);

    padding-left: 20px;
    border-left: 5px solid var(--main-green);
    margin-bottom: 32px;


    @include md() {
        gap: 0;
        // margin-bottom: 24px;
        margin-bottom: 15px;
    }

    @include xxs () {
        gap: 10px;
        > div {
            flex-direction: column;
            gap: 0 !important;
        }
        
    }
    


    >div {
        display: flex;
        gap: 20px;

        @include md() {
            gap: 10px;
        }
    }

    strong {
        font: var(--text-h4);
        font-weight: 700;
        color: var(--main-green);
        flex-shrink: 0;

        @include md() {
            font-size: 18px;
            flex-shrink: 0;
        }

    }

    span {
        font-weight: 400;

        @include md() {
            font-size: 18px;
        }
    }


}

.detailBlocks {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 152px;
    overflow-y: auto;
    

    // change scrollbar color
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--main-green);
    }
    &::-webkit-scrollbar-track {
        background: #EFEFEF;
    }

    @include xl () {
        height: 125px;
    }

    @include md() {
        height: 80px;
    }

    @include xxs() {
       height: 165px;
    }
}

.detailBlock {
    color: var(--sec, #5C5C5C);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 1px;

    padding-right: 20px;
    font-weight: 500;

    h4 {
        width: fit-content;
        padding: 5px 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
        letter-spacing: 1px;
        font-weight: 700;
        color: white;
        border-radius: 100px;
        background: var(--main-green, #29A86F);
        margin-bottom: 5px;
    }

    ul {
        list-style: disc;
        padding-left: 32px;

    }

    ol {
        list-style: decimal;
        padding-left: 32px;
    }

    a {
        color: var(--main-green);
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

.eventPagination {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    @include md() {
        margin-top: 15px;
        
    }
}

.controlButton {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.2s ease;

    @include md() {
        width: 30px;
        height: 30px;
    }

    :global {
        .ring {
            stroke-dasharray: 144px;
            stroke-dashoffset: 0px;
            stroke-linecap: round;
            stroke-width: 1px;
            transform: rotate(-90deg);
            transform-origin: center;
            opacity: 0;
        }

        .dot {
            fill: #EBEDEB;
            stroke: none;
        }
    }
}

.controlButton.active {
    :global(.ring) {
        opacity: 1;

    }

    :global(.dot) {
        fill: #29A86F;
        stroke: none;
    }
}

@keyframes ringCountdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 144px;
    }
}

.eventLink {
    display: flex !important;
    gap: 50px;
    border-radius: 50px;
    background: #FAFAFA;
    align-items: center;
    text-decoration: none;

    @include lg() {
        gap: 30px;
    }

    @include md() {
        // flex-direction: column;
        border-radius: 30px;
        gap: 30px;
        
    }

    @include xxs() {
        flex-direction: column !important;
    }
}