@mixin st() {
    @media (max-width: 376px) {
        @content;
    }
}

@mixin tiny() {
    @media (max-width: 410px) {
        @content;
    }
}

@mixin xs() {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin xxs() {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin sm() {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin md() {
    @media (max-width: 1025px) {
        @content;
    }
}

@mixin lg() {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin xl() {
    @media (max-width: 1536px) {
        @content;
    }
}


@mixin xxl() {
    @media (max-width: 1919px) {
        @content;
    }
}