@import '@/styles/responsive.scss';

.floatingButtons {
    position: fixed;
    bottom: 138px;
    right: 40px;
    z-index: 100;

    display: flex;
    flex-direction: column;
    gap: 12px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;

    @include md() {
        bottom: 90px;
        right: 20px;
    }

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }
    
    a, button {
        --size: 50px;
        width: var(--size);
        height: var(--size);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
        box-sizing: border-box;

        border-radius: 12px;
        box-shadow: 0 0 10px 0 rgba(31, 31, 31, 0.12);
    }
    a {
        background: #FFF100;
    }

    button {
        background: white;
    }
}