@import '@/styles/responsive.scss';

.mobileStructionSection {
    margin-top: 60px;
    padding-top: 40px;

    max-width: 740px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;

    @include md() {
        margin-top: 60px;
        padding-top: 20px;
        max-width: 100%;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

    }

    h2 {
        color: var(--main, #1F1F1F);
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 44px; /* 157.143% */
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
}

.mobileStructionSectionContent {
    padding: 0;
    margin-bottom: 10px;

}

.buttonPanel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    overflow-x: auto;
    // hide scrollbar
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 20px;
    &::-webkit-scrollbar {
        display: none;
    }

    @include sm() {
        justify-content: flex-start;
    }

    .glider {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--w, 0px);
        height: calc(100% - 20px);
        transform: translateX(var(--x, 0px));
        background: var(--main-green, #29A86F);
        border-radius: 10px;
        filter: drop-shadow(0 2px 5px rgba(2, 131, 61, 0.30));
        transition:
            transform 0.35s cubic-bezier(.2,.8,.2,1),
            width 0.35s cubic-bezier(.2,.8,.2,1);
        will-change: transform, width;
        pointer-events: none;
        z-index: 1;
    }

    button {
        all: unset;
        flex-shrink: 0;
        padding: 10px 15px;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        color: var(--main, #1F1F1F);
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        user-select: none;
        transition: color 0.35s cubic-bezier(.2,.8,.2,1);

    }

    .activeButton {  
        color: var(--white, #FFF);
    }

}

.instructionText {
    margin-top: 20px;
    color: var(--sec, #5C5C5C);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 1px;
    text-align: center;
    height: 54px;
    max-width: 740px;
    margin: 10px auto 20px;

    @include md() {
        max-width: 264px;
        margin-top: 0;
    }
}

.buttonPanelContainer {
    position: relative;
}

.arrowLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(to left, transparent 0%, white 100%);

    display: flex;
    justify-content: flex-start;
    transition: opacity 0.3s ease;

    padding-top: 10px;
    cursor: pointer;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.arrowRight {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(to right, transparent 0%, white 100%);

    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    transition: opacity 0.3s ease;
    cursor: pointer;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.instructionDetailContainer {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.30);
    padding: 50px;
    width: 100%;
    max-width: 740px;
    margin: auto;

    /* 陰影一 */
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.10);

    @include md() {
        padding: 20px;
    }
}

.instructionDetailHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    // hide scrollbar
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
        display: none;
    }


    .detailGlider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: var(--w, 0px);
        height: 4px;
        transform: translateX(var(--x, 0px));
        background: var(--main-green, #29A86F);
        transition:
            transform 0.35s cubic-bezier(.2,.8,.2,1),
            width 0.35s cubic-bezier(.2,.8,.2,1);
        will-change: transform, width;
        pointer-events: none;
        z-index: 1;
    }
}

.detailButtonList {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-shrink: 0;

    // 軌道 - 覆蓋整個 detailButtonList 的寬度
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: rgb(239, 239, 239);
        z-index: 0;
    }
}

.detailButton {
    all: unset;
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        color: var(--main-green, #29A86F);

        small {
            border-color: var(--main-green, #29A86F);
        }
    }

    small {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid var(--sec);
        flex-shrink: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
        letter-spacing: 1px;
    }

    color: var(--sec, #5C5C5C);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
    padding-bottom: 12px;
}

.activeDetailButton {
    color: var(--main-green, #29A86F);

    small {
        border-color: var(--main-green, #29A86F);
        background: var(--main-green, #29A86F);
        color: white;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.instructionDetailImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 20px;

    @include xxs () {
        gap: 15px;
    }

    img {
       max-width: 165px;
       width: 38.3vw;
       height: auto;
        filter: drop-shadow(0px 7px 20px rgba(0, 0, 0, 0.21));

        @include md() {
            filter: drop-shadow(0px 7px 10px rgba(0, 0, 0, 0.21));
        }

    }
}