@import '../../styles/responsive.scss';

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;

    @include md() {
        padding: 20px;
    }
}

.copyright {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.2px;
    color: var(--sec);
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
}

