@import '@/styles/responsive.scss';

.instructionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 130px;

    @include xxl() {
        padding-left: 100px;
        padding-right: 100px;
    }

    @include lg() {
        padding-left: 60px;
        padding-right: 60px;
    }


    h2 {
        font: var(--text-h2);
    }
}

.stepContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 72px;

    border-radius: 80px;
    background: rgba(255, 255, 255, 0.30);

    /* 陰影一 */
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.10);
    max-width: 1490px;
    padding: 60px 100px;

    @include xxl() {
        width: 100%;
    }

    @media (max-width: 1400px) {
        padding: 40px;
        border-radius: 40px;
    }

    @include lg() {
        gap: 40px;
    }
}

.stepItemContent {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 2;
    gap: 5px;
    width: 626px;

    @include xl() {
        width: 560px;
    }

    @include lg() {
        width: 400px;
    }


    &:hover {
        color: white;
        border-radius: 25px;
        background: var(--main-green, #29A86F);
        box-shadow: 0 4px 10px 0 rgba(2, 131, 61, 0.30);

        h3, p {
            color: white;
        }

        button {
            color: white;
        }
        
    }


    h3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 220px;
        font: var(--text-h3);
        font-weight: 700;
        color: var(--main);

        button {
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    p {
        font: var(--text-h4);
        color: var(--sec);
    }
}

.stepDetail {
    width: 626px;
    animation: fadeIn 0.3s ease-in-out;

    @include xl() {
        width: 560px;
    }

    @include lg() {
        width: 400px;
    }
}

.stepDetailHeader {
    border-radius: 25px;
    background: var(--main-green, #29A86F);
    box-shadow: 0 4px 10px 0 rgba(2, 131, 61, 0.30);
    padding: 20px 30px;
    color: white;


    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 48px;

    h3 {
        font: var(--text-h3);
        font-weight: 700;
    }

    p {
        font: var(--text-h4);
    }
}

.stepDetailList {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stepDetailListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    color: var(--sec);
    font: var(--text-h4);
    font-weight: 400;
    cursor: pointer;

    @include xxl() {
        width: 240px;
    }

    @include xl() {
        font-size: 18px;
    }

    svg {
        flex-shrink: 0;
    }

    &:hover {
        opacity: 0.8;
    }
}

.activeDetailListItem {
    color: var(--main-green);
    font-weight: 700;
}

.stepDetailImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 31vw;
    height: 31vw;
    max-width: 600px;
    max-height: 608px;
    flex-shrink: 0;
    gap: 25px;

    img {
       width: 15vw;
       max-width: 280px;
       height: auto;
       object-fit: contain;
       animation: fadeIn 0.3s ease-in-out;
       filter: drop-shadow(0px 7px 20px rgba(0, 0, 0, 0.21));

        @include md() {
            filter: drop-shadow(0px 7px 10px rgba(0, 0, 0, 0.21));
        }

    }


}

.backToStepListButton {
    all: unset;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 48px;

    cursor: pointer;

    span {
        font: var(--text-h5);
        color: var(--main);
    }

    svg {
        transform: rotate(180deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}